# Ignore virtual environment
**/.venv/

# Ignore Python bytecode
**/__pycache__/

# Ignore .env file 
**/.env

# Ignore .vscode folder
**/.vscode/

# Ignore PyPI Package folder
PyPI Package/

# Ignore Test folder
CHECK/

