# Ignore virtual environment
.venv/

# Ignore Python bytecode
__pycache__/

# Ignore .env file 
.env

# Ignore .vscode folder
.vscode/

# Ignore Planning folder
Planning/

# Ignore Exercises folder
Exercises/

# Ignore Solution folder
Solution/

